# Your Turn #1 Example.

In [1]:
!pip install nycflights13

Collecting nycflights13
  Downloading nycflights13-0.0.3.tar.gz (8.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 11.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from nycflights13) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->nycflights13) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->nycflights13) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->nycflights13) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->nycflights13) (1.16.0)
Building wheels for collected packages: nycflights13
  Building wheel for nycflights13 (setup.py) ... done
  Created wheel for nycflights13: filename=nycflights13-0.0.3-py3-none-any.whl size=8732720 sha256=4b22b160f38015c02066b615de483e5621acb56c61c8f5b95f9df0baf6401885
  Stored in directory: /root/.cache/pip/wheels/64/14/67/ed3bbff6405d6163cfd64d58169cc9284ce9a80c263e759fbe
Successfully built nycflights13
Installing collected packages: nycflights13
Successfully installed nycflights13-0.0.3

In [2]:
import pandas as pd
import nycflights13

In [3]:
# 1. Load the dataset from the nycflights13 package
flights = nycflights13.flights

# 1.1. Check the dataframe
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

In [4]:
# 2. Filter flights with a distance less than 1000 miles
short_flights = flights[flights['distance'] < 1000]

# 2.1. Check the dataframe
short_flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01T10:00:00Z
7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,2013-01-01T11:00:00Z
8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,2013-01-01T11:00:00Z
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

In [5]:
# 3. Keep only the specified columns
columns_of_interest = ['dep_delay', 'arr_delay', 'origin', 'dest', 'air_time', 'distance']
short_flights = short_flights[columns_of_interest]
# 3.1. Check the dataframe
short_flights

        dep_delay  arr_delay origin dest  air_time  distance
4            -6.0      -25.0    LGA  ATL     116.0       762
5            -4.0       12.0    EWR  ORD     150.0       719
7            -3.0      -14.0    LGA  IAD      53.0       229
8            -3.0       -8.0    JFK  MCO     140.0       944
9            -2.0        8.0    LGA  ORD     138.0       733
...           ...        ...    ...  ...       ...       ...
336771        NaN        NaN    JFK  DCA       NaN       213
336772        NaN        NaN    LGA  SYR       NaN       198
336773        NaN        NaN    LGA  BNA       NaN       764
336774        NaN        NaN    LGA  CLE       NaN       419
336775        NaN        NaN    LGA  RDU       NaN       431

[189671 rows x 6 columns]

In [6]:
# 4. Add the Z-score for departure delays
mean_delay = short_flights['dep_delay'].mean()
std_delay = short_flights['dep_delay'].std()
short_flights['dep_delay_z'] = (short_flights['dep_delay'] - mean_delay) / std_delay
# 4.1. Cehck the dataframe
short_flights

<ipython-input-6-f59bca7f664e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_flights['dep_delay_z'] = (short_flights['dep_delay'] - mean_delay) / std_delay

        dep_delay  arr_delay origin dest  air_time  distance  dep_delay_z
4            -6.0      -25.0    LGA  ATL     116.0       762    -0.467502
5            -4.0       12.0    EWR  ORD     150.0       719    -0.419597
7            -3.0      -14.0    LGA  IAD      53.0       229    -0.395644
8            -3.0       -8.0    JFK  MCO     140.0       944    -0.395644
9            -2.0        8.0    LGA  ORD     138.0       733    -0.371692
...           ...        ...    ...  ...       ...       ...          ...
336771        NaN        NaN    JFK  DCA       NaN       213          NaN
336772        NaN        NaN    LGA  SYR       NaN       198          NaN
336773        NaN        NaN    LGA  BNA       NaN       764          NaN
336774        NaN        NaN    LGA  CLE       NaN       419          NaN
336775        NaN        NaN    LGA  RDU       NaN       431          NaN

[189671 rows x 7 columns]

In [7]:
# 5. Convert departure and arrival delays into hours
short_flights['dep_delay'] = short_flights['dep_delay'] / 60
short_flights['arr_delay'] = short_flights['arr_delay'] / 60
# 5.1. Cehck the dataframe
short_flights

<ipython-input-7-1719b3e151c1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_flights['dep_delay'] = short_flights['dep_delay'] / 60
<ipython-input-7-1719b3e151c1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_flights['arr_delay'] = short_flights['arr_delay'] / 60

        dep_delay  arr_delay origin dest  air_time  distance  dep_delay_z
4       -0.100000  -0.416667    LGA  ATL     116.0       762    -0.467502
5       -0.066667   0.200000    EWR  ORD     150.0       719    -0.419597
7       -0.050000  -0.233333    LGA  IAD      53.0       229    -0.395644
8       -0.050000  -0.133333    JFK  MCO     140.0       944    -0.395644
9       -0.033333   0.133333    LGA  ORD     138.0       733    -0.371692
...           ...        ...    ...  ...       ...       ...          ...
336771        NaN        NaN    JFK  DCA       NaN       213          NaN
336772        NaN        NaN    LGA  SYR       NaN       198          NaN
336773        NaN        NaN    LGA  BNA       NaN       764          NaN
336774        NaN        NaN    LGA  CLE       NaN       419          NaN
336775        NaN        NaN    LGA  RDU       NaN       431          NaN

[189671 rows x 7 columns]

In [8]:
# 6. Calculate the average flight speed in mph
short_flights['avg_speed_mph'] = short_flights['distance'] / (short_flights['air_time'] / 60)
# 6.1. Check the dataframe
short_flights

<ipython-input-8-a60e9bbfbb57>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_flights['avg_speed_mph'] = short_flights['distance'] / (short_flights['air_time'] / 60)

,dep_delay,arr_delay,origin,dest,air_time,distance,dep_delay_z,avg_speed_mph
4,-0.100000,-0.416667,LGA,ATL,116.0,762,-0.467502,394.137931
5,-0.066667,0.200000,EWR,ORD,150.0,719,-0.419597,287.600000
7,-0.050000,-0.233333,LGA,IAD,53.0,229,-0.395644,259.245283
8,-0.050000,-0.133333,JFK,MCO,140.0,944,-0.395644,404.571429
9,-0.033333,0.133333,LGA,ORD,138.0,733,-0.371692,318.695652
...,...,...,...,...,...,...,...,...
336771,NaN,NaN,JFK,DCA,NaN,213,NaN,NaN
336772,NaN,NaN,LGA,SYR,NaN,198,NaN,NaN
336773,NaN,NaN,LGA,BNA,NaN,764,NaN,NaN
336774,NaN,NaN,LGA,CLE,NaN,419,NaN,NaN
336775,NaN,NaN,LGA,RDU,NaN,431,NaN,NaN

In [9]:
# 7. Order by average flight speed (fastest to slowest)
sorted_flights = short_flights.sort_values(by='avg_speed_mph', ascending=False)
# 7.1. Check the dataframe
sorted_flights

,dep_delay,arr_delay,origin,dest,air_time,distance,dep_delay_z,avg_speed_mph
216447,0.150000,-0.233333,LGA,ATL,65.0,762,-0.108213,703.384615
205388,0.250000,-0.016667,EWR,GSP,55.0,594,0.035503,648.000000
157516,0.066667,0.033333,EWR,BNA,70.0,748,-0.227976,641.142857
335290,0.266667,-0.366667,EWR,CVG,62.0,569,0.059455,550.645161
200493,3.066667,2.466667,LGA,ATL,86.0,762,4.083495,531.627907
...,...,...,...,...,...,...,...,...
336771,NaN,NaN,JFK,DCA,NaN,213,NaN,NaN
336772,NaN,NaN,LGA,SYR,NaN,198,NaN,NaN
336773,NaN,NaN,LGA,BNA,NaN,764,NaN,NaN
336774,NaN,NaN,LGA,CLE,NaN,419,NaN,NaN
336775,NaN,NaN,LGA,RDU,NaN,431,NaN,NaN

In [10]:
# 8. Return the first 12 rows
top12_flights = sorted_flights.head(12)
print(top12_flights)

        dep_delay  arr_delay origin dest  air_time  distance  dep_delay_z  \
216447   0.150000  -0.233333    LGA  ATL      65.0       762    -0.108213
205388   0.250000  -0.016667    EWR  GSP      55.0       594     0.035503
157516   0.066667   0.033333    EWR  BNA      70.0       748    -0.227976
335290   0.266667  -0.366667    EWR  CVG      62.0       569     0.059455
200493   3.066667   2.466667    LGA  ATL      86.0       762     4.083495
303503   0.000000  -0.833333    JFK  MCO     107.0       944    -0.323786
226379  -0.066667  -0.216667    EWR  GRR      69.0       605    -0.419597
137620  -0.166667  -0.350000    LGA  BOS      21.0       184    -0.563313
221394  -0.083333  -0.600000    LGA  ATL      87.0       762    -0.443550
302763  -0.166667  -0.683333    LGA  MEM     112.0       963    -0.563313
235408   0.733333   0.100000    EWR  MCO     109.0       937     0.730129
334668   0.050000  -0.450000    JFK  MCO     110.0       944    -0.251929

        avg_speed_mph
216447     703.384615
205388     648.000000
157516     641.142857
335290     550.645161
200493     531.627907
303503     529.345794
226379     526.086957
137620     525.714286
221394     525.517241
302763     515.892857
235408     515.779817
334668     514.909091

# 2.7 Groupwise Example

In [11]:
import pandas as pd

# 1. Generate Sample dataset
data = {
    'location': ['Beach', 'Forest', 'Urban Park', 'Desert', 'Beach', 'Forest', 'Urban Park', 'Desert'],
    'parameter': ['Air Quality', 'Air Quality', 'Water Quality', 'Soil pH', 'Air Quality', 'Air Quality', 'Water Quality', 'Soil pH'],
    'date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],
    'value': [50, 45, 90, 7, 25, 20, 6.5, 85]
}
environmental_data = pd.DataFrame(data)

# 1.1. Check the dataframe
environmental_data

     location      parameter        date  value
0       Beach    Air Quality  2023-01-01   50.0
1      Forest    Air Quality  2023-01-02   45.0
2  Urban Park  Water Quality  2023-01-03   90.0
3      Desert        Soil pH  2023-01-04    7.0
4       Beach    Air Quality  2023-01-01   25.0
5      Forest    Air Quality  2023-01-02   20.0
6  Urban Park  Water Quality  2023-01-03    6.5
7      Desert        Soil pH  2023-01-04   85.0

In [12]:
# 2. Split: Group by 'location' and 'parameter'
grouped = environmental_data.groupby(['location', 'parameter'])
# 2.1. Check the dataframe
grouped

In [13]:
# 3. Apply: Calculate average value for each group
average_values = grouped['value'].mean().reset_index()
# 3.1. Check the dataframe
average_values

     location      parameter  value
0       Beach    Air Quality  37.50
1      Desert        Soil pH  46.00
2      Forest    Air Quality  32.50
3  Urban Park  Water Quality  48.25

In [14]:
# 3.2. Rename columns for clarity
average_values.columns = ['location', 'parameter', 'average_value']
# 3.3. Check the dataframe
average_values

     location      parameter  average_value
0       Beach    Air Quality          37.50
1      Desert        Soil pH          46.00
2      Forest    Air Quality          32.50
3  Urban Park  Water Quality          48.25

In [15]:
# 4. Combine: In this case, the 'average_values' DataFrame is already a combined result
print(average_values)

     location      parameter  average_value
0       Beach    Air Quality          37.50
1      Desert        Soil pH          46.00
2      Forest    Air Quality          32.50
3  Urban Park  Water Quality          48.25

# Cdoe to generate data (2.8)

In [16]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

# Number of days
days = 1000

# Generate date sequence
dates = [(date(2020, 1, 1) + timedelta(days=i)) for i in range(days)]

# Generate environmental data
aqi = np.random.randint(30, 101, days)
water_quality = np.random.randint(80, 101, days)
soil_ph = np.round(np.random.uniform(6.5, 7.5, days), 1)
temperature = np.random.randint(15, 31, days)
humidity = np.random.randint(50, 81, days)
co2 = np.random.randint(390, 421, days)
no2 = np.random.randint(20, 31, days)
wind_speed = np.round(np.random.uniform(3, 11, days), 1)
rainfall = np.round(np.random.uniform(0, 11, days), 1)
uv_index = np.random.randint(1, 11, days)

# Create a dataframe
df = pd.DataFrame({
    "Date": dates,
    "Air Quality (AQI)": aqi,
    "Water Quality (mg/L)": water_quality,
    "Soil pH": soil_ph,
    "Temperature (°C)": temperature,
    "Humidity (%)": humidity,
    "CO2 (ppm)": co2,
    "NO2 (ppm)": no2,
    "Wind Speed (m/s)": wind_speed,
    "Rainfall (mm)": rainfall,
    "UV Index": uv_index
})

# Save to CSV
df.to_csv("environmental_data.csv", index=False)

#2.8 Examples

In [17]:
import pandas as pd

# Load data directly from a website
# 1. Specify path to URL
data_dir = 'https://raw.githubusercontent.com/Hyunglok-Kim/EN5422_EV4238/main/'
url = data_dir + 'w01_environmental_data.csv'  # 10 hydrometeological data set

# 2. Load directly from the web
variables = pd.read_csv(url)
# 2.1. Check the dataframe
variables

,Date,Air Quality (AQI),Water Quality (mg/L),Soil pH,Temperature (°C),Humidity (%),CO2 (ppm),NO2 (ppm),Wind Speed (m/s),Rainfall (mm),UV Index
0,2020-01-01,63,88,7.1,26,58,390,24,10.7,8.6,2
1,2020-01-02,37,96,6.7,25,54,416,20,5.4,4.2,3
2,2020-01-03,55,94,7.1,15,60,419,28,10.2,7.4,8
3,2020-01-04,77,84,7.2,29,63,412,25,5.9,5.5,6
4,2020-01-05,82,84,6.8,23,50,390,22,7.3,4.5,8
...,...,...,...,...,...,...,...,...,...,...,...
995,2022-09-22,87,80,6.7,18,50,404,29,8.4,6.6,6
996,2022-09-23,43,94,7.4,16,56,390,26,10.6,0.3,9
997,2022-09-24,92,82,7.5,24,77,410,21,9.9,4.8,3
998,2022-09-25,68,95,6.7,21,63,395,29,4.5,6.0,10
999,2022-09-26,38,81,7.4,23,57,398,29,10.6,3.2,6

In [18]:
# Download data first, then load into Python

import urllib.request

# 1. Specify path to URL
data_dir = 'https://raw.githubusercontent.com/Hyunglok-Kim/EN5422_EV4238/main/'
url = data_dir + 'w01_environmental_data.csv' # 10 hydrometeorological data set

# 2. Download the file
save_path = "w01_environmental_data"  # can be a relative path!
urllib.request.urlretrieve(url, save_path)

# 3. Load data from the local drive
variables = pd.read_csv(save_path)
# 3.1. Check the dataframe
variables

,Date,Air Quality (AQI),Water Quality (mg/L),Soil pH,Temperature (°C),Humidity (%),CO2 (ppm),NO2 (ppm),Wind Speed (m/s),Rainfall (mm),UV Index
0,2020-01-01,63,88,7.1,26,58,390,24,10.7,8.6,2
1,2020-01-02,37,96,6.7,25,54,416,20,5.4,4.2,3
2,2020-01-03,55,94,7.1,15,60,419,28,10.2,7.4,8
3,2020-01-04,77,84,7.2,29,63,412,25,5.9,5.5,6
4,2020-01-05,82,84,6.8,23,50,390,22,7.3,4.5,8
...,...,...,...,...,...,...,...,...,...,...,...
995,2022-09-22,87,80,6.7,18,50,404,29,8.4,6.6,6
996,2022-09-23,43,94,7.4,16,56,390,26,10.6,0.3,9
997,2022-09-24,92,82,7.5,24,77,410,21,9.9,4.8,3
998,2022-09-25,68,95,6.7,21,63,395,29,4.5,6.0,10
999,2022-09-26,38,81,7.4,23,57,398,29,10.6,3.2,6

#2.9 Iteration

In [19]:
import numpy as np
import pandas as pd

# Simulate fake data
np.random.seed(2022)
data = pd.DataFrame({'x': np.random.rand(100), 'y': np.random.randn(100)})

# Fake model output
def model_1(x):
    return np.random.normal(loc=-0.5, scale=1, size=len(x))

def model_2(x):
    return np.random.normal(loc=0.5, scale=2, size=len(x))

# Using a for loop to simulate and assess performance in each subset
n_subsets = 5
np.random.seed(876)
output = []

for i in range(n_subsets):
    # Sub-sample data (25 samples)
    data_sub = data.sample(25)

    # Get output from the models
    yhat_1 = model_1(data_sub['x'])
    yhat_2 = model_2(data_sub['x'])

    # Score models (using MSE)
    perf_1 = np.mean((yhat_1 - data_sub['y'])**2)
    perf_2 = np.mean((yhat_2 - data_sub['y'])**2)

    # Save results
    output.append({'perf_1': perf_1, 'perf_2': perf_2, 'iter': i + 1})

# Convert to DataFrame and summarize
result_df = pd.DataFrame(output)
avg_diff = result_df['perf_1'].mean() - result_df['perf_2'].mean()
summary = pd.DataFrame({'avg.diff': [avg_diff], 'n': [len(result_df)]})

print(summary)

   avg.diff  n
0 -3.033346  5

# 2.10 Vecotrization

In [20]:
x = range(1, 101)  # Python uses 0-based indexing, so range(1, 101) generates numbers from 1 to 100

# Find squared value
x_sq = [i**2 for i in x]  # Using list comprehension

x_sq_slow = []
for i in x:
    x_sq_slow.append(i**2)

# Replace all even values with -1
x_even = [-1 if i % 2 == 0 else i for i in x]

# 2.11 Iteration vs Vecotrization

In [21]:
import numpy as np
import time

# Using Iteration
def iteration_example(arr):
    result = []
    for num in arr:
        result.append(num * 2)
    return result

# Using Vectorization
def vectorization_example(arr):
    return arr * 2

# Create a large array for demonstration
arr = np.random.rand(1000000)

# Measure time for iteration
start_time = time.time()
iteration_result = iteration_example(arr)
iteration_time = time.time() - start_time

# Measure time for vectorization
start_time = time.time()
vectorization_result = vectorization_example(arr)
vectorization_time = time.time() - start_time

print("Iteration time:", iteration_time)
print("Vectorization time:", vectorization_time)

Iteration time: 0.19590973854064941
Vectorization time: 0.0034868717193603516

#2.12 Iterate over elements of a list or array with Python's map()

In [22]:
import numpy as np
import pandas as pd

def calculate_mse(data_sub, model_1, model_2):
    yhat_1 = model_1(data_sub['x'].values)
    yhat_2 = model_2(data_sub['x'].values)

    perf_1 = np.mean((yhat_1 - data_sub['y'].values) ** 2)
    perf_2 = np.mean((yhat_2 - data_sub['y'].values) ** 2)

    return pd.DataFrame({'perf_1': [perf_1], 'perf_2': [perf_2]})

In [23]:
results = list(map(lambda _: calculate_mse(data.sample(25), model_1, model_2), range(5)))
final_result = pd.concat(results).reset_index(drop=True)